body{
  background-color: #dbd9e4de;
}
.btn{
  margin: 1em;
}
.ver{
  border: dashed 2px greenyellow;
  background-color: #d6c8c8;
  margin: 1em auto;
  padding: 1em;
  border-radius: 4px;
  width: 30%;
}
.nav-login{
  text-align: right;
}